// http://chir.ag/projects/name-that-color/
// Colors Pallet
$white = #FFF

// Blue
$cornflower = #9fd3eb // divider
$shakespeare = #46aad9 // main
$perolus = #409CC7 // hovers
$boston-blue = #3d96bf // pad
$calypso = #2b6e8c // pad font

// Grey
$boulder = #7d7d7d
$airborne-dust = #242424
$pastel-grey = #464646
$anti-flash = #f2f2f2

// Theme Colors
$bg = $white
$block-bg = $shakespeare

// Fonts
$font-primary = $shakespeare
$font-secondary = $white
$font-emphasis = $calypso
