// Black palette
$pure-black =     #000000
$eerie-black =    alpha($pure-black, 0.9)
$jet =            alpha($pure-black, 0.8)
$dark-liver =     alpha($pure-black, 0.7)
$trolley-grey =   alpha($pure-black, 0.5)
$spanish-grey =   alpha($pure-black, 0.4)
$pastel-grey =    alpha($pure-black, 0.2)
$gainsboro =      alpha($pure-black, 0.15)
$airborne-dust =  alpha($pure-black, 0.1)
$platinum-grey =  alpha($pure-black, 0.05)
$slush =          #797979
$gravel =         #dadada
$anti-flash =     #f2f2f2
$blackout =       #332d29

$transparent =    alpha($pure-black, 0)

// Blue palette
$violet =         #1c1b3a
$deep-koamaru =   #393764
$mulled-wine =    alpha($deep-koamaru, 0.7)
$spun-pearl =     alpha($deep-koamaru, 0.5)
$lavander =       alpha($deep-koamaru, 0.15)
$space-cadet =    #2b2a4a
$space-powder =   alpha($space-cadet, 0.5)
$silver-cadet =   alpha($space-cadet, 0.2)
$light-cadet =    alpha($space-cadet, 0.1)

// Green palette
$may-green =        #4d902c
$vasabi =           #7fc840
$green =            #66ae46
$light-moss-green = alpha($green, 0.5)
$olivine =          alpha($green, 0.3)
$platinum =         alpha($green, 0.2)

// Red palette
$pastel-red =       #f76b6b
$pale-pink =        alpha($pastel-red, 0.2)

// White palette
$pure-white =     #ffffff
$aerial-fog =     alpha($pure-white, 0.8)
$arctic-smoke =   alpha($pure-white, 0.7)
$hazy-coma =      alpha($pure-white, 0.5)
$cirrus-cloud =   alpha($pure-white, 0.4)
$clear-glass =    alpha($pure-white, 0.2)

