// http://chir.ag/projects/name-that-color/
// Colors Pallet
$white = #FFF

// Blue
$shakespeare = #46aad9 // main
$perolus = #409CC7 // hovers
$boston-blue = #3d96bf // pad
$calypso = #2b6e8c // pad font

// Theme Colors
$bg = $white

// Fonts
$font-primary = $shakespeare
$font-secondary = $white
$font-emphasis = $calypso
