// Screen
$extra-large =      1400px;
$desktop =          1200px;
$tablet =           1024px;
$tablet-small =     768px;
$phone-horizontal = 568px;
$phone =            480px;
$phone-small =      320px;

// Fonts
$base-font-name   = "Open Sans";
$base-font-family = $base-font-name, sans-serif;

// Transitions
$base-transition-duration = .25s;
$base-transition-duration-mobile = $base-transition-duration * 2;
$base-transition-function = ease;
$base-transition-function-mobile = cubic-bezier(.62,.28,.23,.99);

$slide-transition-function = cubic-bezier(.75,.01,.74,1);

// If you change value, please, check value everywhere where use $left-sidebar-width value
$left-sidebar-width = 250px;
$left-sidebar-width-framed = 230px;
$left-sidebar-width-mobile = 300px;
$left-sidebar-title-height = 60px;

$right-sidebar-width = 90px;

// update const in constants/layout.ts if change here
$header-height = 90px;
$header-height-mobile = 50px;

$scrollbar-width = 17px;

$modal-login-width = 570px;
$modal-login-width-mobile = 450px;

// Z-indexes
$z-negative = -1;
$z-lowest = 0;
$z-base = 1;

$z-compare = 2;
$z-tourist = 2;
$z-modal-btn = 2;
$z-select-options = 3;
$z-policy-placeholder = 3;
$z-policy = 6;
$z-overlay-loader = 7;
$z-sidebar = 8;
$z-header = 9;
$z-date-picker = 10;
$z-modal-left-sidebar = 98;
$z-modal-left-sidebar-btn = 99;
$z-modal = 100;
$z-notification = 101;
$z-modal-btn-fixed = 102;
$z-not-found = 999;
