i.fb:after {
  icon-font: url('../icons/facebook.svg');
}
i.twitter:after {
  icon-font: url('../icons/twitter.svg');
}
i.mail:after {
  icon-font: url('../icons/mail.svg');
}
i.insta:after {
  icon-font: url('../icons/instagram.svg');
}
i.phone:after {
  icon-font: url('../icons/phone.svg');
}
i.vk:after {
  icon-font: url('../icons/vk.svg');
}