extends ../layout/doc-layout
include ../mixins/index

append config
    - var pageTitle         = "Main"
    - var metaDesc          = "Meta Description for current page"
    - var jQuery            = true
    - var resultBodyClasses = bodyClasses
    - var thisPage          = "Page Subheader"
    - var pageTitle         = pageTitle.concat(' | ' + thisPage)

block content
    .wrapper
        .slider-section
            .basic-slider
                div.basic-slider__slide-wrapper
                    .basic-slider__slide
                        span Content 1
                div.basic-slider__slide-wrapper
                    .basic-slider__slide
                        span Content 2
                div.basic-slider__slide-wrapper
                    .basic-slider__slide
                        span Content 3