extends ../layout/doc-layout
include ../mixins/index

append config
    - var pageTitle         = "Main"
    - var metaDesc          = "Meta Description for current page"
    - var jQuery            = true
    - var resultBodyClasses = bodyClasses
    - var thisPage          = "Page Subheader"
    - var pageTitle         = pageTitle.concat(' | ' + thisPage)

block content