html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: $base-font-family;
}

.content-wrapper {
  flex: 1 0 auto;
}

.wrapper {
  width: 1140px;
  margin: 0 auto;
}