.header {
  display: flex;
  padding: 40px 0;
  color: white;
  background-color: $block-bg;

  &__wrapper {
    background-color: $block-bg;
  }

  &__logo-wrapper {
    width: 25%;

    img {
      width: 100%;
    }
  }

  &__nav-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    margin: 0 2.5%;

    .nav {
      display: flex;

      &__item {
        padding: 15px 20px;
        color: white;
        text-transform: uppercase;
        text-decoration: none;

        &:hover {
          background-color: $perolus;
        }
      }
    }

    .search {
      &__container {
        width: 100%;
      }

      input {
        width: calc(100% - 40px);
        border-radius: 12px;
        padding: 18px 20px;
        background-color: $boston-blue;
        color: white;

        &::placeholder {
          color: white;
        }
      }
    }
  }

  &__contacts-wrapper {
    width: 20%;

    .contact-info-string {
      display: flex;
      align-items: center;
      font-family: $base-font-family-light;
      font-size: 18px;

      &:first-of-type {
        margin-bottom: 4px;
      }

      &:nth-child(2) {
        margin-bottom: 20px;
      }

      i {
        display: inline-block;
        margin-right: 12px;
        font-size: 26px;
        margin-bottom: -8px;
      }
      span {
        display: inline-block;
      }
    }

    .social-icons {
      &__item {
        padding: 8px;
        font-size: 26px;
        color: white;
        text-decoration: none;
      }
    }
  }

}