include config

doctype
html(lang="ru").no-js
    head
        title
            block title
                | #{pageTitle}
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content=metaDesc)
        link(rel="icon", href="images/favicon.png")
    body(class=resultBodyClasses.join(' '))
        include modals
        include header
        .content-wrapper
            block content
        include footer