include ../mixins/index

- let navItems = ['Home', 'About', 'Portfolio', 'Blog', 'Contacts']
-
  let socialIcons = [
    {iconName: 'vk', link: '#'},
    {iconName: 'twitter', link: '#'},
    {iconName: 'insta', link: '#'},
    {iconName: 'fb', link: '#'},
  ]

mixin contactInfoString(iconName, info)
    .contact-info-string
        i(class=iconName)
        span= info

.header__wrapper
    .wrapper
        header.header
            .header__logo-wrapper
                a.header__logo(href="#")
                    img(src="assets/img/site-logo.png")
            .header__nav-wrapper
                +simpleNav(navItems)
                .search__container
                    .search
                        input(name="search", placeholder="Search")
            .header__contacts-wrapper
                +contactInfoString('phone', '+ 7 (777) 77 77')
                +contactInfoString('mail', 'god@shanti.com')
                +socialIcons(socialIcons)
