@import "utils/_mixins.styl";
@import "utils/normalize.styl";
@import "utils/basic-styles.styl";

body {

}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.test {
  background-color: greenyellow
  _size(30px);
}